.message {
    display: flex;
    align-items: flex-start;
    padding:20px;
}

.message > img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 999px;
}

.message__info {
    padding-left: 10px;
}

.message__info > img {
    margin-top: 10px;
    height: 200px;
    border-radius: 5px;
    object-fit: contain;
    cursor:pointer;
}

.message__timestamp {
    color: gray;
    font-weight: 300;
    margin-left: 10px;
    font-size: 13px;
}
